.footer {
  background-color: #262626;
  color: #eee;
  display: flex;
  justify-content: space-around;
  padding: 2em 0 6em;

  .links {
    .header,
    .delivery,
    .contact {
      font-weight: 500;
      font-size: 1.6rem;
      margin: 1em 0;
    }
    .contact {
      width: 50%;

      small {
        font-weight: 400;
      }
    }

    .icon {
      margin-right: 0.5em;
    }

    .link {
      font-size: 1.3rem;
      margin-top: 0.8em;
      cursor: pointer;
    }
  }
}
